@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-image: url(./img/bgportifolio.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    z-index: 999;
    position: fixed;
    height: 3.5rem;
    width: 734px;
    background-color: #d9d9d91d;
    border-radius: 45px;
    margin-left: 8rem;
    margin-top: 1.25rem;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.178);
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.header-content {
    display: flex;
    margin-top: 15rem;
    height: 650px;
    width: 100%;
}

.right-header-content img {
    width: 80%;
    border-radius: 420px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.244);
}

.left-content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 50%;
}

.left-content-header {
    padding-left: 100px;
}

.left-content-header h1 {
    font-size: 2rem;
    font-weight: 400;
}

.left-content-header p {
    font-size: 1.1rem;
    margin-top: 10px;
    width: 80%;
}

.left-content-header p span {
    color: red;
}

.social-media {
    display: flex;
    margin-top: 25px;
    gap: 10px;
}

.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 120px;
    height: 45px;
    border-radius: 25px;
    font-size: 1rem;
    gap: 5px;
}

.social-media a img {
    height: 30px;
}

.social-media a:nth-child(2) {
    background-color: #0084FF;
}

.section-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 543px;
    gap: 1rem;
}

.stacks {
    height: 350px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.162);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stacks:nth-child(1) {
    background-color: #F7E018;
}

.stacks:nth-child(2) {
    background-color: rgb(255, 255, 255);
}

.stacks:nth-child(3) {
    background-color: rgb(9, 1, 62);
}

.stacks:nth-child(2) p {
    color: black;
}

.stacks img {
    height: 100%;
    width: 100%;
    transition: 1s;
    border-radius: 10px;
}

.stacks:hover img {
    height: 100px;
    width: 100px;
}

.stacks span {
    color: rgb(255, 255, 255);
    transition: 1s;
    font-size: 20px;
}

.stacks p {

    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 13px;
    padding-left: 10px;
}

.stacks:hover span {
    padding-left: 15px;
}

.stacks:hover span {
    color: black;
    transition: 1s;
}

.stacks:nth-child(3) {
    flex-direction: row;
    gap: 0;
    padding: 0;
}

.stacks:nth-child(3) span {
    z-index: 10;
    position: relative;
    overflow: hidden;
    width: 50%;
    color: white;

}

.stacks:nth-child(3) p {
    width: 0;
    height: 100%;
    position: relative;
    z-index: -100;

}

.stacks:nth-child(3):hover p {
    width: 100%;
    z-index: 100;
    padding: 0;
}

.stacks:nth-child(3) .left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    right: 0;
    overflow: hidden;
    transition: 1s;
}

.stacks:nth-child(3):hover .left {
    position: relative;
    right: 40px;
    color: orange;
    transition: 1s;

}

.stacks:nth-child(3) .right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0084FF;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.stacks:nth-child(3):hover .right {
    color: #0084FF;
}

.section-projects {
    width: 100%;
    height: 628px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section-projects span:nth-child(1){
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 28px;
}
.projetos{
    display: flex;
    height: 628px;
    width: 80%;
    gap: 10px;
}
.projeto{
    height: 70%;
    width: 100%;
    background-color: rgb(0, 255, 60);
    border-radius: 20px;
    overflow: hidden;
}
.projeto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 1s;
}
.projeto span{
    font-size: 16px;
    position: relative;
    bottom: 40px;
    left: 10px;
}
.projeto:nth-child(1) span{
    color: black;
}
.projeto:hover img{
    transform: scale(1.1);
}
.section-experience {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    width: 100%;
    height: 345px;
    gap: 10px;
}
.section-experience span{
    font-size: 1.45rem;
}
.section-experience p{
    font-size: 1.2rem;
    width: 80%;
}

#secao5 {
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    color: white;
}
#secao5 a img{
    height: 50px;
}
